<details class="mobile-toggle-wrapper">
	<summary class="mobile-toggle">
		<span></span>
		<span></span>
		<span></span>
	</summary>
	{% render 'header-mobile-menu', menu: menu, mobile_secondary_menu: mobile_secondary_menu, show_language_switcher: show_language_switcher, show_currency_switcher: show_currency_switcher %}
</details>
